<a href="https://colab.research.google.com/github/ben854719/Biometric-Aware-Fraud-Risk-Dashboard-with-Agentic-AI/blob/main/Analyze_Storck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.12/dist-packages (1.25.2)

In [7]:
import polars as pl

# Import the dataset for the stock.
INDEX_CA_XTSE_GSPTSE = pl.read_csv('INDEX_CA_XTSE_GSPTSE.csv')
display(INDEX_CA_XTSE_GSPTSE.head(22))

shape: (20, 5)
┌────────────┬───────────┬───────────┬───────────┬───────────┐
│ Date       ┆ Open      ┆ High      ┆ Low       ┆ Close     │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ str       ┆ str       ┆ str       ┆ str       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 10/27/2025 ┆ 30,315.62 ┆ 30,386.62 ┆ 30,087.48 ┆ 30,275.76 │
│ 10/24/2025 ┆ 30,248.69 ┆ 30,411.32 ┆ 30,248.69 ┆ 30,353.07 │
│ 10/23/2025 ┆ 30,097.49 ┆ 30,266.54 ┆ 30,094.92 ┆ 30,186.28 │
│ 10/22/2025 ┆ 29,818.20 ┆ 30,036.85 ┆ 29,802.49 ┆ 29,982.98 │
│ 10/21/2025 ┆ 30,214.14 ┆ 30,214.14 ┆ 29,837.55 ┆ 29,888.82 │
│ …          ┆ …         ┆ …         ┆ …         ┆ …         │
│ 10/03/2025 ┆ 30,205.05 ┆ 30,490.04 ┆ 30,205.05 ┆ 30,471.68 │
│ 10/02/2025 ┆ 30,172.84 ┆ 30,183.11 ┆ 29,903.08 ┆ 30,160.59 │
│ 10/01/2025 ┆ 30,006.44 ┆ 30,182.57 ┆ 30,006.44 ┆ 30,107.67 │
│ 09/30/2025 ┆ 29,930.71 ┆ 30,049.81 ┆ 29,837.25 ┆ 30,022.81 │
│ 09/29/2025 ┆ 29,856.51 ┆ 29,980.48 ┆ 29,856.51 ┆ 29,971.91 │
└────────────┴───────────┴───────────┴───────────┴───────────┘

In [8]:
INDEX_CA_XTSE_GSPTSE = INDEX_CA_XTSE_GSPTSE.with_columns(
    pl.col("Date").str.strptime(pl.Datetime, "%m/%d/%Y")
)
display(INDEX_CA_XTSE_GSPTSE.head())

shape: (5, 5)
┌─────────────────────┬───────────┬───────────┬───────────┬───────────┐
│ Date                ┆ Open      ┆ High      ┆ Low       ┆ Close     │
│ ---                 ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ datetime[μs]        ┆ str       ┆ str       ┆ str       ┆ str       │
╞═════════════════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2025-10-27 00:00:00 ┆ 30,315.62 ┆ 30,386.62 ┆ 30,087.48 ┆ 30,275.76 │
│ 2025-10-24 00:00:00 ┆ 30,248.69 ┆ 30,411.32 ┆ 30,248.69 ┆ 30,353.07 │
│ 2025-10-23 00:00:00 ┆ 30,097.49 ┆ 30,266.54 ┆ 30,094.92 ┆ 30,186.28 │
│ 2025-10-22 00:00:00 ┆ 29,818.20 ┆ 30,036.85 ┆ 29,802.49 ┆ 29,982.98 │
│ 2025-10-21 00:00:00 ┆ 30,214.14 ┆ 30,214.14 ┆ 29,837.55 ┆ 29,888.82 │
└─────────────────────┴───────────┴───────────┴───────────┴───────────┘

In [9]:
INDEX_CA_XTSE_GSPTSE = INDEX_CA_XTSE_GSPTSE.with_columns([
    pl.col("Open").str.replace_all(",", ""),
    pl.col("High").str.replace_all(",", ""),
    pl.col("Low").str.replace_all(",", ""),
    pl.col("Close").str.replace_all(",", "")
])
display(INDEX_CA_XTSE_GSPTSE.head())

shape: (5, 5)
┌─────────────────────┬──────────┬──────────┬──────────┬──────────┐
│ Date                ┆ Open     ┆ High     ┆ Low      ┆ Close    │
│ ---                 ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ datetime[μs]        ┆ str      ┆ str      ┆ str      ┆ str      │
╞═════════════════════╪══════════╪══════════╪══════════╪══════════╡
│ 2025-10-27 00:00:00 ┆ 30315.62 ┆ 30386.62 ┆ 30087.48 ┆ 30275.76 │
│ 2025-10-24 00:00:00 ┆ 30248.69 ┆ 30411.32 ┆ 30248.69 ┆ 30353.07 │
│ 2025-10-23 00:00:00 ┆ 30097.49 ┆ 30266.54 ┆ 30094.92 ┆ 30186.28 │
│ 2025-10-22 00:00:00 ┆ 29818.20 ┆ 30036.85 ┆ 29802.49 ┆ 29982.98 │
│ 2025-10-21 00:00:00 ┆ 30214.14 ┆ 30214.14 ┆ 29837.55 ┆ 29888.82 │
└─────────────────────┴──────────┴──────────┴──────────┴──────────┘

In [10]:
INDEX_CA_XTSE_GSPTSE = INDEX_CA_XTSE_GSPTSE.with_columns([
    pl.col("Open").cast(pl.Float64),
    pl.col("High").cast(pl.Float64),
    pl.col("Low").cast(pl.Float64),
    pl.col("Close").cast(pl.Float64)
])
display(INDEX_CA_XTSE_GSPTSE.head())

shape: (5, 5)
┌─────────────────────┬──────────┬──────────┬──────────┬──────────┐
│ Date                ┆ Open     ┆ High     ┆ Low      ┆ Close    │
│ ---                 ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ datetime[μs]        ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════════════════════╪══════════╪══════════╪══════════╪══════════╡
│ 2025-10-27 00:00:00 ┆ 30315.62 ┆ 30386.62 ┆ 30087.48 ┆ 30275.76 │
│ 2025-10-24 00:00:00 ┆ 30248.69 ┆ 30411.32 ┆ 30248.69 ┆ 30353.07 │
│ 2025-10-23 00:00:00 ┆ 30097.49 ┆ 30266.54 ┆ 30094.92 ┆ 30186.28 │
│ 2025-10-22 00:00:00 ┆ 29818.2  ┆ 30036.85 ┆ 29802.49 ┆ 29982.98 │
│ 2025-10-21 00:00:00 ┆ 30214.14 ┆ 30214.14 ┆ 29837.55 ┆ 29888.82 │
└─────────────────────┴──────────┴──────────┴──────────┴──────────┘

In [12]:
# Remove any duplication in the dataset.
INDEX_CA_XTSE_GSPTSE = INDEX_CA_XTSE_GSPTSE.unique()
display(INDEX_CA_XTSE_GSPTSE.head())

shape: (5, 5)
┌─────────────────────┬──────────┬──────────┬──────────┬──────────┐
│ Date                ┆ Open     ┆ High     ┆ Low      ┆ Close    │
│ ---                 ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ datetime[μs]        ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════════════════════╪══════════╪══════════╪══════════╪══════════╡
│ 2025-09-29 00:00:00 ┆ 29856.51 ┆ 29980.48 ┆ 29856.51 ┆ 29971.91 │
│ 2025-10-08 00:00:00 ┆ 30492.2  ┆ 30521.01 ┆ 30365.8  ┆ 30501.99 │
│ 2025-10-14 00:00:00 ┆ 29907.89 ┆ 30478.01 ┆ 29907.89 ┆ 30353.61 │
│ 2025-10-10 00:00:00 ┆ 30324.16 ┆ 30358.74 ┆ 29842.01 ┆ 29850.89 │
│ 2025-09-30 00:00:00 ┆ 29930.71 ┆ 30049.81 ┆ 29837.25 ┆ 30022.81 │
└─────────────────────┴──────────┴──────────┴──────────┴──────────┘

In [13]:
# Sort the dataset by date.
INDEX_CA_XTSE_GSPTSE = INDEX_CA_XTSE_GSPTSE.sort("Date")
display(INDEX_CA_XTSE_GSPTSE.head())

shape: (5, 5)
┌─────────────────────┬──────────┬──────────┬──────────┬──────────┐
│ Date                ┆ Open     ┆ High     ┆ Low      ┆ Close    │
│ ---                 ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ datetime[μs]        ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════════════════════╪══════════╪══════════╪══════════╪══════════╡
│ 2025-09-29 00:00:00 ┆ 29856.51 ┆ 29980.48 ┆ 29856.51 ┆ 29971.91 │
│ 2025-09-30 00:00:00 ┆ 29930.71 ┆ 30049.81 ┆ 29837.25 ┆ 30022.81 │
│ 2025-10-01 00:00:00 ┆ 30006.44 ┆ 30182.57 ┆ 30006.44 ┆ 30107.67 │
│ 2025-10-02 00:00:00 ┆ 30172.84 ┆ 30183.11 ┆ 29903.08 ┆ 30160.59 │
│ 2025-10-03 00:00:00 ┆ 30205.05 ┆ 30490.04 ┆ 30205.05 ┆ 30471.68 │
└─────────────────────┴──────────┴──────────┴──────────┴──────────┘

In [14]:
# Calculate the sum of 'Open', 'High', 'Low', and 'Close' columns
open_total = INDEX_CA_XTSE_GSPTSE["Open"].sum()
high_total = INDEX_CA_XTSE_GSPTSE["High"].sum()
low_total = INDEX_CA_XTSE_GSPTSE["Low"].sum()
close_total = INDEX_CA_XTSE_GSPTSE["Close"].sum()

# Display the totals
print(f"Total for Open column: {open_total}")
print(f"Total for High column: {high_total}")
print(f"Total for Low column: {low_total}")
print(f"Total for Close column: {close_total}")

Total for Open column: 605188.99
Total for High column: 607785.0499999999
Total for Low column: 602036.5499999999
Total for Close column: 604902.4799999999